$serif: "Noto Serif", serif !default;
$san: Optima, "Helvetica Neue", "Microsoft YaHei", arial, sans-serif !default;
$heading: Georgia, Times, "Times New Roman", serif;
$mono: Consolas, "DejaVu Sans Mono", "Liberation Mono", Courier, monospace !default;
$windows: "Noto Serif", Tahoma, "Microsoft YaHei", sans-serif !default;

$text-color: #3a4145 !default;
$link-color: #444 !default;
$heading-color: #000 !default;
$quote-color: #6a6a6a !default;
$code-bg-color: #eee !default;
$pre-bg-color: #f8f8f8 !default;
