---
layout: archive
---

<h1>Archives</h1>

{% assign is_first = true %}
{% for post in site.posts %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% unless year == this_year %}
  {% assign year = this_year %}
  {% if is_first %}
  {% assign is_first = false %}
  {% else %}
  </ul>
  {% endif %}

  <h2><a href="/archives/year/{{ year }}">{{ year }}</a></h2>
  <ul class="posts archive-list">
  {% endunless %}
  <li>
    <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>
      {{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span>"}}
    </time>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" rel="full-article">{{ post.title }}</a>
  </li>
{% endfor %}

