---
layout: archive
---

<h1>Tags</h1>

{% for tag in site.tags %}
  <h2><a href="/archives/tag/{{ tag[0] }}">{{ tag[0] }}</a></h2>
  <ul class="posts archive-list tag-list">
    {% for post in tag[1] %}
    <li>
      <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>
        {{ post.date | date: "<span class='year'>%Y</span>-<span class='month'>%m</span>-<span class='day'>%d</span>"}}
      </time>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" rel="full-article">{{ post.title }}</a>
    </li>
    {% endfor %}
    </ul>
{% endfor %}
