#archive {
  h2 {
    color: lighten($text-color, 10%);
    // border-bottom: 0;
    // @include tailhook(.5rem);
  }
  ul {
    list-style: none;
    @include responsive(480px) {
      padding-left: 1rem;
    }
  }
  time {
    display: inline-block;
    width: 10rem;
    text-align: right;
    font-family: $sans;
    font-size: 90%;
    color: lighten($link-color, 22%);
    &:after {
      content: "—";
      margin: 0 1rem;
    }
    @include responsive(480px) {
      display: block;
      @include tailhook;
    }
  }
}
