html {
	font-size: 62.5%;
}

body {
	font-family: $serif;
	font-size: 2rem;
	line-height: 1.6;
	color: $text-color;
  @extend %word-break;
  text-rendering: optimizelegibility;
}

h1,h2,h3,h4 {
  font-size: 100%;
}

a {
	color: $link-color;
  // color: saturate($link-color, 50%);
  border-bottom: .1rem solid rgba(68, 68, 68, .5);
  text-decoration: none;
	&:hover {
		@include opacity(.8);
	}
}

abbr {
  border-bottom: 1px dotted #000;
  cursor: help;
}

sup {
  padding-left: .3rem;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .5rem 1rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

button, input, select, textarea {
  font-family: $sans;
}

.fluid {
	max-width: 960px;
	margin: 0 auto;
}

.social-link {
	margin-right: .8rem;
  border-bottom: 0 none;
	text-decoration: none;
}

::selection {
	background-color: #ddd;
	color: #000;
	text-shadow: none;
}
