#header {
  position: relative;
	padding: 4rem 0;
	text-align: center;
	border-bottom: 1px solid #eee;
	.header-inner {
		@extend %container;
	}
	.blog-title {
		position: relative;
		@include inline-block;
		font-family: "Hiragino Mincho ProN", $heading;
		font-size: 5rem;
		font-weight: bold;
		color: $heading-color;
    border-bottom: 0 none;
		text-decoration: none;
		&:before {
			content: "<";
			@extend %title-pseudo;
			left: -2rem;
		}
		&:after {
			content: "/>";
			@extend %title-pseudo;
			right: -3rem;
		}
    &.home {
      &:hover {
        &:before {
          content: "<<";
          left: -3.5rem;
          transition: all .5s ease;
        }
        &:after {
          opacity: 0;
          transition: all .5s ease;
        }
      }
    }
	}
	.blog-desc {
    font-size: 100%;
    font-family: $heading;
    text-transform: capitalize;
		color: lighten($heading-color, 44%);
	}
  .subscribe {
    position: absolute;
    left: 50%;
    bottom: -15px;
    z-index: 9;
    display: block;
    width: 28px;
    height: 28px;
    margin-left: -15px;
    line-height: 28px;
    color: lighten($heading-color, 44%);
    border: 1px solid #e0e0e0;
    border-radius: 100%;
    background-color: #fff;
    .fa {
      font-size: 14px;
      vertical-align: 2px;
    }
  }
}
