.post {
  @extend %container;
  .post-header {
    padding: 3rem 0;
  }
  .post-title {
    margin-bottom: 0;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4rem;
    text-align: center;
  }
  .post-footer {
    position: absolute;
    top: 10rem;
    right: 100%;
    width: 135px;
    padding-right: 20px;
    @include responsive(960px) {
      position: static;
      width: 100%;
    }
  }
  .post-meta {
    font-family: $sans;
    font-size: 1.6rem;
    line-height: 32px;
    text-align: right;
    color: lighten($text-color, 22%);
    vertical-align: middle;
  }
  .post-tag {
    display: block;
    @include responsive(960px) {
      display: inline;
    }
    .tag {
      display: block;
      @include responsive(960px) {
        display: inline;
        padding-left: .3rem;
      }
      &:before {
        content: "#";
        font-style: italic;
        color: #999;
      }
    }
  }
  p,
  ul, ol,
  blockquote,
  pre,
  table {
    margin-bottom: 2.4rem;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  h1, h2, h3 {
    margin-bottom: 1.2rem;
    font-family: $title;
    font-weight: 700;
    text-rendering: optimizelegibility;
  }
  h2 {
    font-size: 3rem;
    border-bottom: 1px solid #eee;
  }
  h3 {
    font-size: 2.4rem;
  }
  ol, ul {
    padding-left: 4rem;
    ul {
      list-style: circle outside;
    }
    li {
      margin-bottom: 1.2rem;
    }
  }
  ol {
    list-style: decimal outside;
  }
  ul {
    list-style: disc outside;
  }
  hr {
    height: 4px;
    margin: 20px auto;
    background-color: #e7e7e7;
    border: 0 none;
  }
  blockquote {
    position: relative;
    padding-left: 3.6rem;
    color: $quote-color;
    // border-left: 4px solid lighten($quote-color, 44%);
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      content: "\f10d";
      font-family: FontAwesome;
      color: lighten($quote-color, 40%);
    }
    p {
      margin-bottom: .5rem;
    }
  }
  code {
    padding: 0 .5rem;
    font-family: $mono;
    background-color: $code-bg-color;
  }
  pre {
    // padding: .8rem 1.6rem;
    font-size: 90%;
    line-height: 1.5;
    // border-left: 4px solid #dadada;
    // background-color: $pre-bg-color;
    // white-space: pre-wrap;
    background-image: url(https://sf-static.b0.upaiyun.com/v-583bf474/global/img/blueprint.png);
    background-repeat: repeat;
    overflow-x: auto;
    code {
      padding: 0;
      white-space: pre;
      word-wrap: normal;
      word-break: normal;
      background: none;
    }
  }
  strong {
    font-weight: 700;
    color: #222;
  }
  em {
    font-style: italic;
  }
  .gist {
    .gist-file .gist-data {
      background: #f8f8f8;
    }
    .file-data {
      font-size: 1.6rem;
      line-height: 1.6 !important;
    }
    .line-data {
      padding: 1em 1.5em !important;
    }
    .line-pre {
      font-size: 120% !important;
      line-height: 1.6 !important;
    }
    table {
      margin-bottom: 0;
      border: 0 none;
      word-break: normal;
      td {
        border: 0 none;
      }
      td.line-numbers {
        display: none;
      }
    }
    .gist-meta {
      background: #fff;
      a {
        border-bottom: 0 none;
      }
    }
  }
  .keyboard {
    th {
      text-align: left;
      &:before {
        margin-right: .5rem;
        content: "\f11c";
        font-family: FontAwesome;
        color: lighten($text-color, 22%);
      }
    }
  }
  .footnotes {
    font-size: 90%;
    color: lighten($text-color, 22%);
  }
  iframe {
    margin-bottom: 2.4rem;
  }
}

.post-comment {
  padding-top: 3rem;
  .container {
    @extend %container;
  }
}
