$serif: Lustria, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !default;
$sans: Optima, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif !default;
$heading: "Noto Serif", Georgia, Times, "Times New Roman", serif;
$title: Lustria, "Xin Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$mono: Inconsolata, Monaco, Menlo, Consolas, "DejaVu Sans Mono", "Liberation Mono", Courier, monospace !default;
$windows: "Noto Serif", Tahoma, "Microsoft YaHei", sans-serif !default;

$text-color: #333 !default;
$link-color: #333 !default;
$heading-color: #333 !default;
$quote-color: #898989 !default;
$code-bg-color: #f1f1f1 !default;
$pre-bg-color: #f6f6f6 !default;
$th-bg-color: rgba(170, 170, 170, 0.8) !default;
