body > header {
  h1 {
    display: inline-block;
    margin: 0;
    a {
      color: $title_color;
      text-decoration: none;

      &:hover{
        text-decoration: none;
        background-color: yellow;
      }    
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
