#archive {
  padding-top: 4rem;
  h2 {
    color: lighten($text-color, 10%);
    border-bottom: 0;
    @include tailhook(.5rem);
  }
  ul {
    list-style: none;
    @include responsive(480px) {
      padding-left: 1rem;
    }
  }
  time {
    color: lighten($link-color, 22%);
    &:after {
      content: "-";
      margin: 0 1rem;
    }
    @include responsive(480px) {
      display: block;
      @include tailhook;
    }
  }
}
