/* woff */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(/fonts/NotoSerif.woff) format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif'), url(/fonts/PT_Serif-Web-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif'), local('PTSerif'), url(/fonts/PT_Serif-Web-Bold.ttf) format('truetype');
}
