$serif: "PT Serif", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !default;
$sans: Optima, "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif !default;
$heading: "Noto Serif", Georgia, Times, "Times New Roman", serif;
$title: Georgia, "Xin Gothic", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$mono: Monaco, Menlo, Consolas, "DejaVu Sans Mono", "Liberation Mono", Courier, monospace !default;
$windows: "Noto Serif", Tahoma, "Microsoft YaHei", sans-serif !default;

$text-color: #333 !default;
$link-color: #333 !default;
$heading-color: #333 !default;
$quote-color: #6a6a6a !default;
$code-bg-color: #eee !default;
$pre-bg-color: #e0e0e0 !default;
