{% if site.social_service_links %}
  <div id="social-links">
    <ul>
      <li id="social-links-github">
        <a title="github" href="https://github.com/RoshanWu">github</a>
      </li>
      <li id="social-links-twitter">
        <a title="twitter" href="http://twitter.com/roshan_wu">twitter</a>
      </li>
      <li id="social-links-weibo">
        <a title="weibo" href="http://weibo.com/jinfeixibi/">weibo</a>
      </li>
      <li id="social-links-feed">
        <a title="feed" href="http://roshanca.com/atom.xml">feed</a>
      </li>
    </ul>
  </div>
{% endif %}
