---
layout: default
---

<main class="fluid" role="main">
  <article class="post" role="article">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
    <section class="post-content">
      <nav class="post-toc">
        {% toc %}
        <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
          <path stroke="#444" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round"
            transform="translate(-0.5, -0.5)" />
        </svg>
      </nav>
      {{ content | inject_anchors }}
    </section>
    <hr>
    <footer class="post-footer">
      <div class="post-meta">
        {% include post/date.html %}
        {% include post/tag.html %}
      </div>
    </footer>
    {% include post/recent.html %}
  </article>
  {% if page.comments == true %}
    {% include post/disqus.html %}
  {% endif %}
</main>
